.hero_main_text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.header_link {
    font-size: 18px;
    color: #E5E7EB;
}

.header_logo {
    font-size: 24px;
    color: #F9FAF8; 
}

.call_action_button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 19px;
    margin-top: 5px;
}

.information_header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.quote_text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.image_placeholder {
    padding: 90px;
    background-color: grey;
}

.top_margin {
    margin-top: 5px;
}




